<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<link>
<script src="/jquery/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $.fn.serializeObject = function () {
        var jsonData1 = {};
        var serializeArray = this.serializeArray();
        alert(serializeArray);
        // 先转换成{"id": ["12","14"], "name": ["aaa","bbb"], "pwd":["pwd1","pwd2"]}这种形式
        $(serializeArray).each(function () {
            if (jsonData1[this.name]) {
                if ($.isArray(jsonData1[this.name])) {
                    jsonData1[this.name].push(this.value);
                } else {
                    jsonData1[this.name] = [jsonData1[this.name], this.value];
                }
            } else {
                jsonData1[this.name] = this.value;
            }
        });
        return JSON.stringify(jsonData1);
    }
    function transform() {
        var zz = $("#form1").serializeObject();
        alert(zz);
        $.ajax({
            url: "/store/fan",
            type: "POST",
            contentType: 'application/json;charset=utf-8', //设置请求头信息
            dataType: "json",
            data: zz,
            success: function (data) {
                console.log(data);
            }
        });
    }
</script>
<body>
<div class="row" style="width: 30%">
    <form id="form1"  method="post"  th:action="@{/store/fan}">
        <table >
            <tbody>
            <tr>
                <td>
                    <select class="form-control" name="employeeId">
                        <option></option>
                        <option  th:each="s:${storages}" th:value="${s.employeeId}" th:text="${s.employeeName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>开始时间</td>
                <td>
                    <input type="date" name="beginDate">
                </td>
            </tr>
            <tr>
                <td>截至时间</td>
                <td>
                    <input type="date" name="endDate">
                </td>
            </tr>
            </tbody>
        </table>
        <div class="controls">
            <button class="btn btn-success" type="submit">点击查询</button>
        </div>
    </form>
</div>
</body>

</html>