<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sm.dao.PurchildDao">
    <cache type="com.sm.redis.RedisCache"></cache>

    <insert id="insert">
        INSERT INTO sm_purchase_child (purchase_id, commodity_id, purchase_price, supplier_id, purchase_amount)
        VALUES (#{purchaseId}, #{commodityId}, #{purchasePrice}, #{supplierId}, #{purchaseAmount})
    </insert>
</mapper>